body {
    background-color: #EAF6F6;
}
hr {
    border-style: none;
    height: 0px;
    width: 5%;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
}
h1,h3 {
    color: #66bfbf;
    text-transform: uppercase;
}
h3 {
    font-style: italic;
}